<% layout('layouts/boilerplate') %>
<body>
    <h1>All campgrounds!</h1>
    <a href="/campgrounds/new">Add new campground</a>
    <ul>
        <% for (let campground of campgrounds){ %>
            <li><a href="/campgrounds/<%= campground._id %>"><%= `${campground.title}` %></a><%= `, ${campground.location}` %></li>
        <% } %>
    </ul>
